.mainDiv {
    background-color: #000000;
    height: 57vh;
    display: flex;
}

.smallerDiv {
    background-color: #aec6cf;
    height: 57vh;
    text-align: center;
    border-radius: 25%;
    margin-top: 7.1em;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.2em;
    padding: 1.6em;
    
}

.style-icons-linkedIn {
    transform: scale(1.9);
    
}
.style-icons-github {
    transform: scale(1.5);
}
 
#icon-picker {
    justify-content: space-between;
}



.job-title {
    margin-bottom: 2.5em;
    margin-top: -1.5em;
}

social-buttons{
    list-style-type: none;
    text-align: center;
}

.social-buttons li{
    display: inline;
    padding-right: 80px;
}

.linked-button{
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 20px;
    color: #0072b1;
}
.ghub-button{
    padding: 9px 18px;
    border-radius: 10px;
    font-size: 20px;
}