.aboutDiv {
    background-color: #aec6cf;
    height: 57vh;
    text-align: center;
    border-radius: 25%;
    margin-top: 7.1em;
    padding-top: 5.2em;
    color: white
}

.aboutText {
    margin: 0;
    word-wrap: break-word;
    padding-top: 8.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}